.title {
	font-size: 300%;
	padding-top: 5%;
	color: lightcoral;
	font-family: 'Londrina Outline', cursive;
	text-align: center;
}

.headers{
	text-align: center;
}

.home {
	font-size: 10 px;
	color:lightgrey;
	font-family: 'Raleway Dots', cursive;
	text-align:left;
	padding-bottom: 0.5%;
	padding-left: 35%;

}

.MFF{
	font-size: 10 px;
	color:lightgrey;
	font-family: 'Raleway Dots', cursive;
	text-align: left;
	padding-bottom: 0.5%;
}

.about {
	font-size: 10 px;
	color: lightgrey;
	font-family: 'Raleway Dots', cursive;
}

.contacts {
	font-size: 10 px;
	color: lightgrey;
	font-family: 'Raleway Dots', cursive;
}
